---
layout: page
title: "Data Umbrella: Community Partners"
sub_title: ""
black_menu: true
header_style: 'one'

portfolios_area:
  enable: true
  categories:
    - title: "LATAM"
      filter: "latam"

    - title: "MENA"
      filter: "mena"

    - title: "North-America"
      filter: "north-america"

    - title: "Global"
      filter: "global"

  portfolios:
    - title: "Diversify Tech"
      sub_title: "We connect underepresented folks in tech to opportunities."
      sm_image: "/assets/images/data-umbrella/du-community-partners/cp_diversify_tech.svg"
      big_image: "/assets/images/data-umbrella/du-community-partners/cp_diversify_tech.svg"
      url: "https://www.diversifytech.co/"
      filters:
        - global
    - title: "Tech By Choice"
      sub_title: "We increase diversity in STEAM industries by making sure individuals in protected groups know they can enter, stay, and thrive."
      sm_image: "/assets/images/data-umbrella/du-community-partners/cp_tech_by_choice.svg"
      big_image: "/assets/images/data-umbrella/du-community-partners/cp_tech_by_choice.svg"
      url: "https://www.techbychoice.org/"
      filters:
        - north-america
    - title: "Data For Science"
      sub_title: "We help you learn how to take control of your data."
      sm_image: "/assets/images/data-umbrella/du-community-partners/cp_data_for_science.svg"
      big_image: "/assets/images/data-umbrella/du-community-partners/cp_data_for_science.svg"
      url: "https://data4sci.com/"
      filters:
        - global
    - title: "New York City PyLadies"
      sub_title: "We support women and gender minorities in Python."
      sm_image: "/assets/images/data-umbrella/du-community-partners/cp_nyc_pyladies.png"
      big_image: "/assets/images/data-umbrella/du-community-partners/cp_nyc_pyladies.png"
      url: "https://nyc.pyladies.com/"
      filters:
        - north-america
    - title: "PyLadies CDMX (Ciudad Mexico)"
      sub_title: "Para mujeres interesadas en la programación en Python."
      sm_image: "/assets/images/data-umbrella/du-community-partners/cp_pyladies_cdmx.png"
      big_image: "/assets/images/data-umbrella/du-community-partners/cp_pyladies_cdmx.png"
      url: "https://www.meetup.com/Mexico-City-Pyladies-Meetup/"
      filters:
        - latam
    - title: "Out in Tech"
      sub_title: "Out in Tech unites the LGBTQ+ tech community."
      sm_image: "/assets/images/data-umbrella/du-community-partners/cp_out_in_tech.png"
      big_image: "/assets/images/data-umbrella/du-community-partners/cp_out_in_tech.png"
      url: "https://outintech.com/"
      filters:
        - global
    - title: "Women of MENA in Tech"
      sub_title: "Our mission is to close the diversity and gender gap in STEM by connecting, mentoring, educating and elevating Middle Eastern and North African women in STEM globally."
      sm_image: "/assets/images/data-umbrella/du-community-partners/cp_mena.png"
      big_image: "/assets/images/data-umbrella/du-community-partners/cp_mena.png"
      url: "https://womenofmenaintechnology.com/"
      filters:
        - mena
    - title: "Python Chile"
      sub_title: "Official Chilean Python Community, a place to meet, learn, and empower Chilean Python developers."
      sm_image: "/assets/images/data-umbrella/du-community-partners/cp_python_chile.png"
      big_image: "/assets/images/data-umbrella/du-community-partners/cp_python_chile.png"
      url: "https://pythonchile.cl/"
      filters:
        - latam
    - title: "Global Diversity CFP Day"
      sub_title: "A global, tech-wide event that supports and encourages people from underrepresented and marginalized groups in putting together their first tech conference talk proposal to bring their voice and perspective to the conference stage."
      sm_image: "/assets/images/data-umbrella/du-community-partners/cp_gdcfp.png"
      big_image: "/assets/images/data-umbrella/du-community-partners/cp_gdcfp.png"
      url: "https://www.globaldiversitycfpday.com/"
      filters:
        - global
    - title: "Women in Bioinformatics and Data Science Latin America - WBDS LA"
      sub_title: "Fostering collaboration among women."
      sm_image: "/assets/images/data-umbrella/du-community-partners/cp_wbds_la.png"
      big_image: "/assets/images/data-umbrella/du-community-partners/cp_wbds_la.png"
      url: "https://wbds.la/"
      filters:
        - latam

---

{% if page.portfolios_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="isotope-filter text-center">
      <br>
      <br>
     <h4>
      If you would like to become a Community Partner, send us an email.  
    </h4>
    </div>

    <div class="grid grid-view boxed">
      <div class="isotope-filter text-center">
        <ul>
          <li><a class="button active" data-filter="*">All</a></li>
          {% for category in page.portfolios_area.categories %}
           <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="tiles">
        <div class="row isotope light-gallery-wrapper">
          {% for portfolio in  page.portfolios_area.portfolios %}
          <div class="item item-detailed grid-sizer col-md-6 col-lg-4 {% for filter in portfolio.filters %} {{filter}} {% endfor %}">
            <div class="box bg-white shadow p-30">
              <figure class="main rounded mb-30">
                <div class="item-detailed-image">
                    <img src="{{portfolio.sm_image}}" alt="" />
                    <img src="{{portfolio.big_image}}" alt="" />
                </div>
                <a href="{{portfolio.sm_image}}" class="hover-icon-first lightbox" data-tip="Enlarge image"><i class="jam jam-qr-code"></i></a>
                <a href="{{portfolio.url}}" class="hover-icon-second" data-tip="See details"><i class="jam jam-link"></i></a>
              </figure>
              <div class="item-content">
                <h2 class="post-title mb-10"><a href="{{portfolio.url}}">{{portfolio.title}}</a></h2>
                <div font color="#534852"><p>{{portfolio.sub_title}}</p> </div>
                <!-- <div class="meta mb-0">{{portfolio.sub_title}}</div> -->
              </div>
              
              <!-- /.post-content -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.item -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.tiles -->
    </div>
    <!-- /.grid -->
  </div>
</div>
{% endif %}