---
layout: page_2
page_header:
  enable: true
  title: "Data Umbrella: Social Media Reach"
  sub_title: ""
  background_image: "/assets/images/art/bg1.jpg"
  title: About
  example: This is an example value.
  author: Reshama Shaikh
---

<div class="wrapper gray-wrapper">
  <div class="container inner">
       
    ## List of Animals
    
    {% for animal in site.data.animals %}
    - The {{ animal.name }} is a {{ animal.size }} animal.
    <br>
    
    {% endfor %}
    
    ## Large Animals are Better
    
    {% for animal in site.data.animals %}
    {% if animal.size == "large" %}
            - <strong style="color: {{ animal.color }};">{{ animal.name }}</strong>
    {% else %}- <small>{{ animal.name }}</small>
    {% endif %}
    {% endfor %}
    
    ## List of Small Animals
    
    {% assign small_animals = site.data.animals | where: "size", "small" %}
    {% for animal in small_animals %}
    - {{ animal.name | upcase }}

    {% endfor %}
    
    {% for item in site.data.music %}

    <h2> {{ item[1].release.title }}</h2>

    {% for medium in item[1].release.medium-list %}

    <h3> {{ medium[1].format }} </h3>

    <table border="1" style="width:100%">
        <tr>
            <td>Artist</td>
            <td>Track title</td>
        </tr>
        {% for track in medium[1].track-list.track %}
            <tr>
                <td>{{ track.recording.artist-credit.name-credit.artist.name }}</td>
                <td>{{ track.recording.title }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endfor %}
{% endfor %}

  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
