---
layout: page_2
page_header:
  enable: true
  title: "Data Umbrella: Social Media Reach"
  sub_title: ""
  background_image: "/assets/images/art/bg1.jpg"
  title: About
  example: This is an example value.
  author: Reshama Shaikh
---

<div class="wrapper gray-wrapper">
  <div class="container inner">
    
    
    This page describes the amazing {{ site.title }} by {{ site.author.name }}.
    {{ page.example }}

    
    ## About About Pages
    
    The About page is a common convention found on websites.
    It is your opportunity to let us know all the details "about" your project:
    
    - focus and topic area
    - people involved
    - code and projects used
    
    ## List of Animals
    
    {% for animal in site.data.animals %}
    - The {{ animal.name }} is a {{ animal.size }} animal.

    {% endfor %}
    
    ## Large Animals are Better
    
    {% for animal in site.data.animals %}
    {% if animal.size == "large" %}
            - <strong style="color: {{ animal.color }};">{{ animal.name }}</strong>
    {% else %}- <small>{{ animal.name }}</small>
    {% endif %}
    {% endfor %}
    
    ## List of Small Animals
    
    {% assign small_animals = site.data.animals | where: "size", "small" %}
    {% for animal in small_animals %}
    - {{ animal.name | upcase }}

    {% endfor %}
    
        
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
