<footer class="{% if include.extra_class %} {{include.extra_class}} {% else %} dark-wrapper inverse-text {% endif %}">
  <div class="container inner">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="widget">
         <a href="{{site.data.general_settings.url}}">
          {% if include.light_logo %}
            <img src="{{site.data.general_settings.light_logo_1x}}" srcset="{{site.data.general_settings.light_logo_1x}} 1x, {{site.data.general_settings.light_logo_2x}} 2x" alt="{{site.data.general_settings.title}}"/>
            {% else %}
            <img src="{{site.data.general_settings.black_logo_1x}}" srcset="{{site.data.general_settings.black_logo_1x}} 1x, {{site.data.general_settings.black_logo_2x}} 2x" alt="{{site.data.general_settings.title}}"/>
          {% endif %}
         </a>
          <div class="space40"></div>
          <p>{{site.data.general_settings.copyright_text}}</p>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-4 col-lg-3">
        <div class="widget">
          <h3 class="widget-title">Get in Touch</h3>
          {% if site.data.general_settings.address_01 %}
           <address>{{site.data.general_settings.address_01}}</address>
          {% endif %}
           <a href="mailto:{{site.data.general_settings.email}}">{{site.data.general_settings.email}}</a><br />
          {{site.data.general_settings.phone_number}}
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-md-4 col-lg-3">
        {% assign external_links = site.data.general_settings.external_links %}
        <div class="widget">
          {% if external_links.title %}
           <h5 class="widget-title">{{external_links.title}}</h5>
          {% endif %}
          <ul class="list-unstyled mb-0">
            {% for links in external_links.links %}
            <li><a href="{{libks.url}}">{{links.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <!-- /column -->
      <div padding=20px background-color=#cedddd float="left">
        <iframe src="https://dataumbrella.substack.com/embed" width="240" height="150" style="border:1px solid #EEE; background:rgb(217, 204, 243);" frameborder="0" scrolling="no"></iframe>
      </div>

      
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</footer>