---
layout: page
title: "Contributing to PyMC"
sub_title: "How to get started in contributing"
black_menu: true
header_style: 'one'

portfolio_area:
  categories:

    - title: "contributing"
      filter: "contributing"

    - title: "using-pymc"
      filter: "using-pymc"

  portfolios:

    - title: "Intro to Probabilistic Programming with PyMC"
      sub_title: "using-pymc"
      sm_img: "/assets/images/data-umbrella/pymc/intro-to-probabilistic-programming.png"
      big_img: "/assets/images/data-umbrella/pymc/intro-to-probabilistic-programming.png"
      url: "https://youtu.be/Qu6-_AnRCs8"
      resource: "using-pymc"
      resource_url: "https://pymc-data-umbrella.xyz/en/latest/about/probabilistic_programming_with_pymc/index.html"
      filters:
        - using-pymc

    - title: "Intuitive Bayesian Modeling with PyMC"
      sub_title: "using-pymc"
      sm_img: "/assets/images/data-umbrella/pymc/intuitive-bayesian-modelling.png"
      big_img: "/assets/images/data-umbrella/pymc/intuitive-bayesian-modelling.png"
      url: "https://youtu.be/6dc7JgR8eI0"
      resource: "using-pymc"
      resource_url: "https://pymc-data-umbrella.xyz/en/latest/about/intuitive_modeling/index.html"
      filters:
        - using-pymc

    - title: "An Example Pull Request (PR) to PyMC"
      sub_title: "contributing "
      sm_img: "/assets/images/data-umbrella/pymc/pymc-pr.png"
      big_img: "/assets/images/data-umbrella/pymc/pymc-pr.png"
      url: "https://youtu.be/NbmdFJsnuuo"
      resource: "contributing "
      resource_url: "https://pymc-data-umbrella.xyz/en/latest/about/example_pr/index.html"
      filters:
        - contributing 

    - title: "Contributing to PyMC"
      sub_title: "contributing "
      sm_img: "/assets/images/data-umbrella/pymc/contributing-to-pymc.png"
      big_img: "/assets/images/data-umbrella/pymc/contributing-to-pymc.png"
      url: "https://youtu.be/Iq0dY5hU4D4"
      resource: "Outline and resources"
      resource_url: "https://pymc-data-umbrella.xyz/en/latest/about/contributing_to_pymc/index.html"
      filters:
        - contributing 

    - title: "Contributing to PyMC Documentation"
      sub_title: "contributing"
      sm_img: "/assets/images/data-umbrella/pymc/pymc-docs-contrib.png"
      big_img: "/assets/images/data-umbrella/pymc/pymc-docs-contrib.png"
      url: "https://youtu.be/fzpmLWQNj4A"
      resource: "Outline and resources"
      resource_url: "https://pymc-data-umbrella.xyz/en/latest/about/contributing_to_documentation/index.html"
      filters:
        - contributing 

    - title: "Contributing to ArviZ and Open Source"
      sub_title: "using-pymc"
      sm_img: "/assets/images/data-umbrella/pymc/arviz-contrib.png"
      big_img: "/assets/images/data-umbrella/pymc/arviz-contrib.png"
      url: "https://youtu.be/457ZTes4xOI"
      resource: "using-pymc"
      resource_url: "https://youtu.be/457ZTes4xOI"
      filters:
        - contributing
        - using-pymc

    - title: "Intro to Numpy Array Operations"
      sub_title: "using-pymc"
      sm_img: "/assets/images/data-umbrella/pymc/numpy-operations.png"
      big_img: "/assets/images/data-umbrella/pymc/numpy-operations.png"
      url: "https://youtu.be/oud3Jd1FJ7c"
      resource: "using-pymc"
      resource_url: "https://pymc-data-umbrella.xyz/en/latest/about/intro_to_array_operations/index.html"
      filters:
        - using-pymc
---


<div class="isotope-filter text-center">
  <br>
  <br>
<!-- <h3 class="section-title mb-40 text-center> -->
 <h4>
  We host <a href="https://pymc-data-umbrella.xyz/en/latest/2023-03_sprint/index.html">PyMC sprints and working sessions</a> regularly.  
</h4>
</div>

<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="grid grid-view">
      <div class="isotope-filter text-center">
        <ul>
          <li><a class="button active" data-filter="*">All</a></li>
          {% for category in page.portfolio_area.categories %}
           <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="tiles">
        <div class="row isotope light-gallery-wrapper">
          {% for portfolio in page.portfolio_area.portfolios %}
          <div class="item item-detailed grid-sizer col-md-6 col-lg-4 {% for filter in portfolio.filters %} {{filter}} {% endfor %}">
            <figure class="rounded mb-20">
              <div class="item-detailed-img">
                <img src="{{portfolio.sm_img}}" alt="{{portfolio.title}}"/>
                <img src="{{portfolio.big_img}}" alt="{{portfolio.title}}"/></div>
              <a href="{{portfolio.big_img}}" class="hover-icon-first lightbox" data-tip="Enlarge image"><i class="jam jam-qr-code"></i></a>
              <a href="{{portfolio.url}}" class="hover-icon-second" data-tip="See details"><i class="jam jam-link"></i></a>
            </figure>
            <div class="item-content">
              <h2 class="post-title mb-10"><a href="{{portfolio.url}}">{{portfolio.title}}</a></h2>
              <div class="meta mb-0">{{portfolio.sub_title}}</div>
              <div
                <p><a href="{{portfolio.resource_url}}">{{portfolio.resource}}</a></p>
              </div>
            </div>
            <!-- /.item-content -->
          </div>
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.tiles -->
    </div>
    <!-- /.grid -->
  </div>
  <!-- /.container -->
</div>
