---
layout: page
title: "Data Umbrella Open Source Events"
sub_title: "Contributing Sessions / Sprints"
black_menu: true
header_style: 'one'

portfolios_area:
  enable: true
  categories:
    - title: "PyMC"
      filter: "pymc"

    - title: "scikit-learn"
      filter: "scikit-learn"

    - title: "Data-Umbrella"
      filter: "Data-Umbrella"

    - title: "other"
      filter: "other"

  portfolios:
    - title: "PyMC: Jul-Aug 2022"
      sub_title: "PyMC"
      sm_image: "/assets/images/data-umbrella/sprints/pymc_sprint_july_2022.png"
      big_image: "/assets/images/data-umbrella/sprints/pymc_sprint_july_2022.png"
      url: "https://pymc-data-umbrella.xyz/en/latest/2022-07_sprint/schedule.html"
      filters:
        - pymc
        - Data-Umbrella

    - title: "PyMC: Feb 2022"
      sub_title: "PyMC"
      sm_image: "/assets/images/data-umbrella/sprints/pymc_sprint_feb_18_2022.png"
      big_image: "/assets/images/data-umbrella/sprints/pymc_sprint_feb_18_2022.png"
      url: "https://pymc-data-umbrella.xyz/en/latest/2022-02_sprint/index.html"
      filters:
        - pymc
        - Data-Umbrella

    - title: "scikit-learn AFME2: Oct 2021"
      sub_title: "scikit-learn"
      sm_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_AFME2.png"
      big_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_AFME2.png"
      url: "https://afme2021rc.dataumbrella.org/"
      filters:
        - scikit-learn
        - Data-Umbrella

    - title: "scikit-learn LATAM: June 2021"
      sub_title: "scikit-learn"
      sm_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_LATAM.png"
      big_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_LATAM.png"
      url: "https://latam2021.dataumbrella.org/"
      filters:
        - scikit-learn
        - Data-Umbrella

    - title: "scikit-learn AFME1: Feb 2021"
      sub_title: "scikit-learn"
      sm_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_AFME1.png"
      big_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_AFME1.png"
      url: "https://afme2021.dataumbrella.org/"
      filters:
        - scikit-learn
        - Data-Umbrella

    - title: "scikit-learn Global: June 2020"
      sub_title: "scikit-learn"
      sm_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_global.png"
      big_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_global.png"
      url: "https://sites.google.com/view/nyc-2020-scikit-sprint/"
      filters:
        - scikit-learn
        - Data-Umbrella
---

{% if page.portfolios_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="grid grid-view boxed">
      <div class="isotope-filter text-center">
        <ul>
          <li><a class="button active" data-filter="*">All</a></li>
          {% for category in page.portfolios_area.categories %}
           <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="tiles text-center light-gallery-wrapper">
        <div class="row isotope">
          {% for portfolio in  page.portfolios_area.portfolios %}
          <div class="item grid-sizer col-md-6 col-lg-4 {% for filter in portfolio.filters %} {{filter}} {% endfor %}">
            <div class="box bg-white shadow p-30">
              <figure class="main overlay overlay2 rounded mb-30">
                <a href="{{portfolio.big_image}}" class="lightbox"> 
              	  <img src="{{portfolio.sm_image}}" alt="{{portfolio.title}}"/>
                </a>
              </figure>
              <div class="post-content">
                <h2 class="post-title mb-10"><a href="{{portfolio.url}}">{{portfolio.title}}</a></h2>
                <div class="meta mb-0">{{portfolio.sub_title}}</div>
              </div>
              <!-- /.post-content -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.item -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.tiles -->
    </div>
    <!-- /.grid -->

      <!-- /.wrapper -->
<div class="container inner">

<h5>
NOTE: The following sprints were organized by Reshama Shaikh as part of another organization prior to Data Umbrella.
</h5>
<br>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Sprint /<br>Region</th>
          <th scope="col">Sprint Website</th>
          <th scope="col">Sprint Report</th>
          <th scope="col">Twitter Moment</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Jan 2020</th>
          <td>scikit-learn<br>Berlin, Germany (Advisor)</td>
          <td><a href="https://sites.google.com/view/berlinscikitsprint/home">Sprint Event</a></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Nov 2019</th>
          <td>scikit-learn<br>San Francisco, CA, USA</td>
          <td><a href="https://sites.google.com/view/bay-area-wimlds-2019-sprint/home">Sprint Event</a></td>
          <td></td>
          <td><a href="https://twitter.com/i/events/1196432895549857794">Twitter Moment</a></td>
        </tr>
        <tr>
          <th scope="row">Aug 2019</th>
          <td>scikit-learn<br>New York, NY, USA</td>
          <td><a href="http://wimlds.org/opensourcesprints-2/nyc-scikit-sprint-2019/">Sprint Event</a></td>
          <td></td>
          <td><a href="https://twitter.com/i/events/1168528872553570304">Twitter Moment</a></td>
        </tr>   
        <tr>
          <th scope="row">Jun 2019</th>
          <td>scikit-learn: Nairobi, Kenya</td>
          <td><a href="http://wimlds.org/opensourcesprints/nairobi-scikit-sprint-2019/">Sprint Event</a></td>
          <td><a href="https://reshamas.github.io/nairobi-wimlds-2019-scikit-learn-sprint-impact-report/">Sprint Report</a></td>
          <td><a href="https://twitter.com/i/events/1142418211914309632">Twitter Moment</a></td>
        </tr>   
        <tr>
          <th scope="row">Sep 2018</th>
          <td>scikit-learn: New York, NY, USA</td>
          <td><a href="http://wimlds.org/opensourcesprints/nyc-scikit-sprint-2018/">Sprint Event</a></td>
          <td><a href="https://reshamas.github.io/impact-report-for-wimlds-scikit-learn-sprints/">Sprint Report</a></td>
          <td></td>
        </tr>  
        <tr>
          <th scope="row">Mar 2017</th>
          <td>scikit-learn: New York, NY, USA</td>
          <td><a href="http://wimlds.org/opensourcesprints/nyc-scikit-sprint-2017/">Sprint Event</a></td>
          <td><a href="https://reshamas.github.io/impact-report-for-wimlds-scikit-learn-sprints/">Sprint Report</a></td>
          <td></td>
        </tr> 
      </tbody>
    </table>
    
  <!-- /column -->
</div>
<!-- /.row -->
</div>

 </div>
<!-- /.wrapper for footer text-->

</div>
</div>
{% endif %}


