---
layout: page
title: "Data Umbrella Open Source Events"
sub_title: "Contributing Sessions / Sprints"
black_menu: true
header_style: 'one'

portfolios_area:
  enable: true
  categories:
    - title: "PyMC"
      filter: "pymc"

    - title: "scikit-learn"
      filter: "scikit-learn"

    - title: "Data-Umbrella"
      filter: "Data-Umbrella"

    - title: "other"
      filter: "other"

  portfolios:
    - title: "PyMC: Jul-Aug 2022"
      sub_title: "PyMC"
      sm_image: "/assets/images/data-umbrella/sprints/pymc_sprint_july_2022.png"
      big_image: "/assets/images/data-umbrella/sprints/pymc_sprint_july_2022.png"
      url: "https://pymc-data-umbrella.xyz/en/latest/2022-07_sprint/schedule.html"
      filters:
        - pymc
        - Data-Umbrella

    - title: "PyMC: Feb 2022"
      sub_title: "PyMC"
      sm_image: "/assets/images/data-umbrella/sprints/pymc_sprint_feb_18_2022.png"
      big_image: "/assets/images/data-umbrella/sprints/pymc_sprint_feb_18_2022.png"
      url: "https://pymc-data-umbrella.xyz/en/latest/2022-02_sprint/index.html"
      filters:
        - pymc
        - Data-Umbrella

    - title: "scikit-learn AFME2: Oct 2021"
      sub_title: "scikit-learn"
      sm_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_AFME2.png"
      big_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_AFME2.png"
      url: "https://afme2021rc.dataumbrella.org/"
      filters:
        - scikit-learn
        - Data-Umbrella

    - title: "scikit-learn LATAM: June 2021"
      sub_title: "scikit-learn"
      sm_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_LATAM.png"
      big_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_LATAM.png"
      url: "https://latam2021.dataumbrella.org/"
      filters:
        - scikit-learn
        - Data-Umbrella

    - title: "scikit-learn AFME1: Feb 2021"
      sub_title: "scikit-learn"
      sm_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_AFME1.png"
      big_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_AFME1.png"
      url: "https://afme2021.dataumbrella.org/"
      filters:
        - scikit-learn
        - Data-Umbrella

    - title: "scikit-learn Global: June 2020"
      sub_title: "scikit-learn"
      sm_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_global.png"
      big_image: "/assets/images/data-umbrella/sprints/du_scikitlearn_global.png"
      url: "https://sites.google.com/view/nyc-2020-scikit-sprint/"
      filters:
        - scikit-learn
        - Data-Umbrella
---

{% if page.portfolios_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="grid grid-view boxed">
      <div class="isotope-filter text-center">
        <ul>
          <li><a class="button active" data-filter="*">All</a></li>
          {% for category in page.portfolios_area.categories %}
           <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="tiles text-center light-gallery-wrapper">
        <div class="row isotope">
          {% for portfolio in  page.portfolios_area.portfolios %}
          <div class="item grid-sizer col-md-6 col-lg-4 {% for filter in portfolio.filters %} {{filter}} {% endfor %}">
            <div class="box bg-white shadow p-30">
              <figure class="main overlay overlay2 rounded mb-30">
                <a href="{{portfolio.big_image}}" class="lightbox"> 
              	  <img src="{{portfolio.sm_image}}" alt="{{portfolio.title}}"/>
                </a>
              </figure>
              <div class="post-content">
                <h2 class="post-title mb-10"><a href="{{portfolio.url}}">{{portfolio.title}}</a></h2>
                <div class="meta mb-0">{{portfolio.sub_title}}</div>
              </div>
              <!-- /.post-content -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.item -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.tiles -->
    </div>
    <!-- /.grid -->

      <!-- /.wrapper -->
<div class="container inner">
  <h4>
  
NOTE: The following sprints were organized by Reshama Shaikh as part of another organization prior to Data Umbrella.

<div class="row">
  <div class="col-md-8 offset-md-2">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Channel</th>
          <th scope="col">URL</th>
          <th scope="col">Reach</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Global Meetup Group</td>
          <td><a href="https://www.meetup.com/data-umbrella/">https://www.meetup.com/data-umbrella/</a></td>
          <td style="text-align: right;">2401</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Africa Meetup Group</td>
          <td><a href="https://www.meetup.com/data-umbrella-africa2/">https://www.meetup.com/data-umbrella-africa2/</a></td>
          <td style="text-align: right;">883</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>YouTube (subscribers)</td>
          <td><a href="https://www.youtube.com/c/dataumbrella">https://www.youtube.com/c/dataumbrella</a></td>
          <td style="text-align: right;">2350</td>      
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>YouTube (views)</td>
            <td><a href="https://www.youtube.com/@DataUmbrella/about">https://www.youtube.com/@DataUmbrella/about</a></td>
            <td style="text-align: right;">58,600</td>      
          </tr>
        <tr>
            <th scope="row">4</th>
            <td>LinkedIn</td>
            <td><a href="https://www.linkedin.com/company/dataumbrella/">https://www.linkedin.com/company/dataumbrella/</a></td>
            <td style="text-align: right;">1924</td>      
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Twitter</td>
            <td><a href="https://twitter.com/DataUmbrella">https://twitter.com/DataUmbrella</a></td>
            <td style="text-align: right;">3487</td>      
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>GitHub</td>
            <td><a href="https://github.com/data-umbrella">https://github.com/data-umbrella</a></td>
            <td style="text-align: right;">30</td>      
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Instagram</td>
            <td><a href="https://www.instagram.com/data.umbrella/">https://www.instagram.com/data.umbrella/</a></td>
            <td style="text-align: right;">155</td>      
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Facebook</td>
            <td><a href="https://www.facebook.com/data.umbrella.dei">https://www.facebook.com/data.umbrella.dei</a></td>
            <td style="text-align: right;">80</td>      
        </tr>
    </tbody>
    </table>
    
  <!-- /column -->
</div>
<!-- /.row -->
</div>

<a href="https://chanzuckerberg.com/science/programs-resources/open-science/communitiesofpractice/data-umbrella/"> DAF2021-239460 </a> from the Chan Zuckerberg Initiative DAF, an advised fund of the Silicon Valley Community Foundation. 
</h4>
<br>
  <h4>
   NOTE: The Data Umbrella scikit-learn sprints (AFME Feb 2021, LATAM Jun 2021, AFME2 Oct 2021) were funded in part by a grant from Code for Science & Society, made possible by grant number
 <a href="https://www.moore.org/grant-detail?grantId=GBMF8449"> GBMF8449 </a> from the Gordon and Betty Moore Foundation.  
 </h4>
 </div>
<!-- /.wrapper for footer text-->

</div>
</div>
{% endif %}


