---
layout: default
title: Data Umbrella website (dev)
custom_css: rose
custom_font: font4

slider_area:
  enable: true
  sliders:
    - title: "We organize monthly online webinars"
      sub_title: "Join our Meetup group for upcoming events."
      image: "/assets/images/concept/concept21.png"
      bg_image: "/assets/images/concept/bg1.svg"
      button_text: "Data Umbrella Meetup" 
      button_url: "https://www.meetup.com/data-umbrella/"

    - title: "We have an extensive video library"
      sub_title: "Subscribe to our channel for data science and open source resources."
      image: "/assets/images/concept/concept22.png"
      bg_image: "/assets/images/concept/bg2.svg"
      button_text: "Data Umbrella YouTube" 
      button_url: "https://www.youtube.com/@DataUmbrella"

    - title: "We have open source initiatives"
      sub_title: "Contribute to our open source community projects."
      image: "/assets/images/concept/concept22.png"
      bg_image: "/assets/images/concept/bg2.svg"
      button_text: "Open Source Projects" 
      button_url: "https://dev.dataumbrella.org/get-involved/contribution"

portfolios_area:
  enable: true
  title: "Our Projects"
  sub_title: "We have a number of open source initiatives for the community."
  categories:
    - title: "Open-Source"
      filter: "open-source"
    
    - title: "Resource"
      filter: "resource"
 
    - title: "News"
      filter: "news"

  portfolios:
    - title: "Data Umbrella Blog"
      sub_title: "subtitle"
      sm_image: "/assets/images/data-umbrella/du-home/du_blog.png"
      big_image: "/assets/images/data-umbrella/du-home/du_blog.png"
      url: "https://blog.dataumbrella.org"
      filters:
        - open-source
        - news

    - title: "Data Events Board"
      sub_title: "subtitle"
      sm_image: "/assets/images/data-umbrella/du-home/event_board.png"
      big_image: "/assets/images/data-umbrella/du-home/event_board.png"
      url: "https://events.dataumbrella.org"
      filters:
        - open-source
        - resource

    - title: "Job Board"
      sub_title: "subtitle"
      sm_image: "/assets/images/data-umbrella/du-home/job_board.png"
      big_image: "/assets/images/data-umbrella/du-home/job_board.png"
      url: "https://jobs.dataumbrella.org"
      filters:
        - open-source
        - resource

    - title: "PyMC Sprints Website"
      sub_title: "subtitle"
      sm_image: "/assets/images/data-umbrella/du-home/pymc_sprints.png"
      big_image: "/assets/images/data-umbrella/du-home/pymc_sprints.png"
      url: "https://pymc-data-umbrella.xyz/en/latest/"
      filters:
        - open-source
        - resource

    - title: "PyLadies Dashboard"
      sub_title: "subtitle"
      sm_image: "/assets/images/data-umbrella/du-home/pyladies_dashboard.png"
      big_image: "/assets/images/data-umbrella/du-home/pyladies_dashboard.png"
      url: "https://nyc-pyladies.github.io/pyladies-dashboard/pyladies.html"
      filters:
        - open-source
        - resource
  
lightbox_area:
  enabled: false
  lightboxes:

    - thumbnail: "/assets/images/data-umbrella/du-sponsors/sponsor_czi.svg"
      lightbox_url: "/assets/images/data-umbrella/du-sponsors/sponsor_czi.svg"
      url: "https://chanzuckerberg.com/science/programs-resources/open-science/communitiesofpractice/data-umbrella/"
      title: "CZI"
      hover_title: "View Larger"
      caption_title: "CZI"
      caption_sub_title: "CZI's mission is to build a more inclusive, just, and healthy future for everyone."
      more_info: "xxx"
      more_url: "https://chanzuckerberg.com/"
      years: "2021-current (Funding Sponsor)"

    - thumbnail: "/assets/images/data-umbrella/du-sponsors/sponsor_google.svg"
      lightbox_url: "/assets/images/data-umbrella/du-sponsors/sponsor_google.svg"
      url: "https://opensource.google/"
      title: "Google Open Source"
      hover_title: "View Larger"
      caption_title: "Google Open Source"
      caption_sub_title: "We bring all the value of open source to Google and all the resources of Google to open source."
      years: "2022-current (Funding Sponsor)"

    - thumbnail: "/assets/images/data-umbrella/du-sponsors/sponsor_codess.svg"
      lightbox_url: "/assets/images/data-umbrella/du-sponsors/sponsor_codess.svg"
      url: "https://www.codeforsociety.org/eventfund/"
      title: "Code for Science & Society"
      hover_title: "View Larger"
      caption_title: "Code for Science & Society"
      caption_sub_title: "We envision a future where research, data, and tech initiatives shift power to communities through programs centered on social infrastructure in research and technology."
      years: "2021 (Funding Sponsor)"

    - thumbnail: "/assets/images/data-umbrella/du-sponsors/sponsor_moore.svg"
      lightbox_url: "/assets/images/data-umbrella/du-sponsors/sponsor_moore.svg"
      url: "https://www.moore.org/grant-detail?grantId=GBMF8449"
      title: "Gordon and Betty Moore Foundation"
      hover_title: "View Larger"
      caption_title: "Gordon and Betty Moore Foundation"
      caption_sub_title: "Creating positive outcomes for future generations"
      years: "2021 (Funding Sponsor)"

    - thumbnail: "/assets/images/data-umbrella/du-sponsors/sponsor_neo4j.svg"
      lightbox_url: "/assets/images/data-umbrella/du-sponsors/sponsor_neo4j.svg"
      url: "https://neo4j.com/"
      title: "Neo4j"
      hover_title: "View Larger"
      caption_title: "Neo4j"
      caption_sub_title: "Neo4j is a native graph database, to leverage not only data but also data relationships.                                                                                          "
      years: "2020-current (Program Sponsor)"

two_columns_one:
  enable: true
  title: "Open Source Event"
  sub_title: "PyMC Open Source Contributing Session: March 30, 2023"
  image: "/assets/images/data-umbrella/du-home/cps_2023_03.png"
  image_url: "https://pymc-data-umbrella.xyz/en/latest/2023-03_sprint/index.html"
  lists:

    - title: "Sign up on Meetup"
      title_url: "https://www.meetup.com/data-umbrella/events/291768545/"
      sub_title: "RSVP on Meetup and add the event to your calendar from there."

    - title: "Submit registration form"
      title_url: "https://forms.gle/YfbGnaTEQUrFVGK89"
      sub_title: "Participants must submit a form to receive event information."

    - title: "Translations"
      title_url: "https://www.meetup.com/data-umbrella/events/291768545/"
      sub_title: "Select on top left of website: EN, ES, PT"

features_area:
  enable: true
  title: "Our Video Tutorials"
  sub_title: "Check out our videos on data science, open source and career advice."
  features:
    - title: "Sphinx for Python Documentation"
      icon: "jam jam-document"
      icon_color: "blue"
      description: "A high-level explanation of how the Sphinx tool for generating documentation automatically works for Python packages."
      video_url: "https://www.youtube.com/embed/tXWscUSYdBs"

    - title: "Intro to Probabilistic Programming with PyMC"
      icon: "jam jam-layers-f"
      icon_color: "green"
      description: "PyMC is an open source python probabilistic programming which makes Bayesian inference algorithms more accessible."
      video_url: "https://www.youtube.com/embed/Qu6-_AnRCs8"

    - title: "Land Your First Data Science Job"
      icon: "jam jam-bar-chart"
      icon_color: "red"
      description: "Leave with a plan to discover, prepare for, and land a first career role in data. Covers interviewing and networking."
      video_url: "https://www.youtube.com/embed/qDQ7z7FrG20"

    - title: "Visualize Your Pandas Dataframe with Lux"
      icon: "jam jam-grid"
      icon_color: "purple"
      description: "Lux is a lightweight visualization tool on top of Pandas dataframes which recommends useful visualizations to users."
      video_url: "https://www.youtube.com/embed/O28RZ8SsSQk"

video_area:
  enable: false
  title: "How It Works?"
  sub_title: "Find out everything you need about creating a business process model."
  video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"
  image: "/assets/images/art/about2.jpg"
  lists:

    - title: "Creative Ideas"
      description: "Nulla vitae elit libero at pharetra augue metus."

    - title: "Magic Touch"
      description: "Nulla vitae elit libero at pharetra augue metus."

    - title: "Data Analysis"
      description: "Nulla vitae elit libero at pharetra augue metus."

    - title: "Finalize Product"
      description: "Nulla vitae elit libero at pharetra augue metus."

about_us_area:
  enable: false
  title: "Hi, I'm Julia, a documentary wedding and couples photographer currently working from and living in London."
  image: "/assets/images/art/about2.jpg"
  description: |
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio. Sed posuere consectetur est at lobortis facilisis in.
  projects:
    - projects_number: 500
      title: "Shots Taken"
    - projects_number: "400k"
      title: "Happy Customers"
    - projects_number: "25k"
      title: "Awards Won"

progress_area:
  enable: false
  title: "Save Time and Money"
  sub_title: "Save your time and money by choosing our professional team."
  lists:
    - title: "Money Saved"
      description: "Integer posuere erat a ante venenatis dapibus posuere velit."
      numbers: 45
      bar_color: "pink"

    - title: "Time Saved"
      description: "Integer posuere erat a ante venenatis dapibus posuere velit."
      numbers: 35
      bar_color: "purple"

projects_area:
  enable: false
  title: "Our Projects"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  button_text: "See All Works"
  button_url: "#"
  projects:
    - image: "/assets/images/art/fp12.jpg"
      url: "#"
    - image: "/assets/images/art/fp15.jpg"
      url: "#"
    - image: "/assets/images/art/fp8.jpg"
      url: "#"
    - image: "/assets/images/art/fp14.jpg"
      url: "#"
    - image: "/assets/images/art/fp6.jpg"
      url: "#"
    - image: "/assets/images/art/fp13.jpg"
      url: "#"

testimonials:
  enable: false
  image: "/assets/images/art/about9.png"
  projects_number: 500
  project_tag: "Happy Customers"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"

clients_carousel:
  enable: false

blogs_area:
  enable: false
  title: "Our Journal"
  sub_title: "Here are the latest company news from our blog that got the most attention."

contact_area:
  enable: false
  title: "Get in Touch"
  sub_title: "Have any questions? Reach out to us from our contact form and we will get back to you shortly."
  action_email: "info@dataumbrella.org"
  lists:
    - title: Contact-Us
      info_01: ""
      info_02: ""
      icon: "jam jam-envelope-open"

  forms_data: 

    - field_type: "input"
      field_name: "first_name"
      placeholder: "First Name" 
      error_message: "First Name Is required" 

    - field_type: "input"
      field_name: "last_name"
      placeholder: "Last Name" 
      error_message: "Last Name Is required"

    - field_type: "input"
      field_name: "user_email"
      placeholder: "Email"
      error_message: "Email Is required"

    - field_type: "textarea"
      field_name: "user_message"
      placeholder: "Message"
      error_message: "Message Is required"
---

<div class="content-wrapper">
{% include header.html extra_class="absolute transparent" logo_class="logo" container_class="container" %}

 
<!-- SLIDER AREA START -->
{% if page.slider_area.enable %}
<div class="wrapper white-wrapper">
  <div class="rev_slider_wrapper fullwidth-container dark-spinner dark-nav">
    <div id="slider16" class="rev_slider fullwidthbanner" data-version="5.4.7">
      <ul>
      	{% for slider in page.slider_area.sliders %}
        <li data-transition="fade" data-thumb="">
          <img src="/assets/images/dummy.png" data-bgcolor="#fff" alt="slider"/>
          {% if slider.bg_image %}
          <div class="tp-caption" 
             data-x="['center','center','center','center']" 
             data-y="['bottom','bottom','bottom','bottom']" 
             data-hoffset="['0','0','0','0']" 
             data-voffset="['-2','-2','-2','-2']" 
             data-frames='[{"delay":0,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-visibility="['on','on','on','on']" 
             data-width="none" 
             data-height="none" 
             data-type="image" 
             data-responsive="on" 
             data-responsive_offset="on" 
             data-basealign="slide" style="z-index: 5;">
             <img data-lazyload="" src="{{slider.bg_image}}" data-ww="['100%','100%','100%','100%']" 
             data-hh="['auto','auto','auto','auto']" alt="{{slider.title}}" />  
        </div>
	      <!-- /.tp-caption -->
	      {% endif %}
	      {% if slider.image %}
          <div class="tp-caption" 
             data-x="left" 
             data-y="middle" 
             data-hoffset="['650','550','390','420']" 
             data-voffset="20" 
             data-frames='[{"delay":500,"speed":1200,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-visibility="['on','on','on','off']" 
             data-width="none" 
             data-height="none" 
             data-type="image" 
             data-responsive_offset="on" 
             data-basealign="grid" style="z-index: 5;"><img 
             data-lazyload="" src="{{slider.image}}" 
             data-ww="400" 
             data-hh="auto" alt="" />  
          </div>
	      <!-- /.tp-caption -->
	      {% endif %}
	      {% if slider.title %}
          <div class="tp-caption font-weight-600 color-dark" 
             data-x="['left','left','left','left']" 
             data-y="middle" 
             data-hoffset="['50','70','30','30']" 
             data-voffset="['-105','-105','-145','-115']" 
             data-fontsize="['40','40','36','36']" 
             data-lineheight="['52','52','46','46']" 
             data-width="['450','450','340','340']" 
             data-textAlign="['left','left','left','left']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;"> {{slider.title}}
        </div>
	     <!-- /.tp-caption -->
	     {% endif %}
	     {% if slider.sub_title %}
          <div class="tp-caption font-weight-400 color-dark" 
             data-x="['left','left','left','left']" 
             data-y="middle" 
             data-hoffset="['50','70','30','30']" 
             data-voffset="[0','0','0','30']" 
             data-fontsize="['26','26','24','24']" 
             data-lineheight="['36','36','34','34']" 
             data-width="['450','450','340','340']" 
             data-textAlign="['left','left','left','left']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;"> {{slider.sub_title}} 
        </div>
	     <!-- /.tp-caption -->
	     {% endif %}
	     {% if slider.button_text %}
          <a class="tp-caption btn btn-l btn-default" 
             data-x="['left','left','left','left']" 
             data-y="middle" 
             data-hoffset="['50','70','30','30']" 
             data-voffset="['95','95','115','145']" 
             data-width="['auto','auto','auto','auto']" 
             data-textAlign="['left','left','left','left']" 
             data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;" href="{{slider.button_url}}"> {{slider.button_text}}
        </a>
	    <!-- /.tp-caption -->
	    {% endif %}
        </li>
        {% endfor %}
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
{% endif %}
<!-- SLIDER AREA STOP -->

<!-- LIGHTBOX TEMPLATE START (Sponsors)-->
{% if page.portfolios_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="grid grid-view boxed">
      
      <div class="row">
        <div class="col-md-7 mx-auto">
            {% if page.portfolios_area.title %}
            <h2 class="title-color color-gray text-center">{{page.portfolios_area.title}}</h2>
            {% endif %} {% if page.portfolios_area.sub_title %}
            <h3 class="display-3 text-center">{{page.portfolios_area.sub_title}}</h3>
            {% endif %}
        </div>
    </div>

      <div class="isotope-filter text-center">
        <ul>
          <li><a class="button active" data-filter="*">All</a></li>
          {% for category in page.portfolios_area.categories %}
           <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="tiles">
        <div class="row isotope light-gallery-wrapper">
          {% for portfolio in  page.portfolios_area.portfolios %}
          <div class="item item-detailed grid-sizer col-md-6 col-lg-4 {% for filter in portfolio.filters %} {{filter}} {% endfor %}">
            <div class="box bg-white shadow p-30">
              <figure class="main rounded mb-30">
                <div class="item-detailed-image">
                    <img src="{{portfolio.sm_image}}" alt="" />
                    <img src="{{portfolio.big_image}}" alt="" />
                </div>
                <a href="{{portfolio.sm_image}}" class="hover-icon-first lightbox" data-tip="Enlarge image"><i class="jam jam-qr-code"></i></a>
                <a href="{{portfolio.url}}" class="hover-icon-second" data-tip="See details"><i class="jam jam-link"></i></a>
              </figure>
              <div class="item-content">
                <h2 class="post-title mb-10"><a href="{{portfolio.url}}">{{portfolio.title}}</a></h2>
                <div class="meta mb-0">{{portfolio.sub_title}}</div>
              </div>
              <!-- /.post-content -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.item -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.tiles -->
    </div>
    <!-- /.grid -->
  </div>
</div>
{% endif %}

<!-- TWO COLUMNS ONE START -->
    {% if page.two_columns_one.enable %}
    <div class="container inner pb-50">
          <div class="two-columns-one">
        <!-- <div class="space160"></div> -->
        <div class="row">
            <div class="col-md-7 mx-auto">
                {% if page.two_columns_one.title %}
                <h2 class="title-color color-gray text-center">{{page.two_columns_one.title}}</h2>
                {% endif %} {% if page.two_columns_one.sub_title %}
                <h3 class="display-3 text-center">{{page.two_columns_one.sub_title}}</h3>
                {% endif %}
            </div>
        </div>
        <div class="space40"></div>
        <div class="row align-items-xl-center">
            {% if page.two_columns_one.image %}
            <div class="col-lg-7">
                <figure class="shadow">
                    <!-- <img src="{{page.two_columns_one.image}}" alt="{{page.two_columns_one.title}}" /> -->
                    <a href="{{page.two_columns_one.image_url}}" class="lightbox" data-sub-html=".caption"> 
                      <img src="{{page.two_columns_one.image}}" alt="{{page.two_columns_one.title}}"/>
                    </a>
                </figure>
            </div>
            {% endif %}
            <div class="space20 d-md-none"></div>
            <div class="space50 d-none d-md-block d-lg-none"></div>
            <div class="col-lg-5 pl-50 pl-md-15">
                {% for list in page.two_columns_one.lists %}
                <div class="d-flex flex-row">
                    <div>
                        <span class="icon icon-bg icon-bg-default color-default mr-25"><span class="number">{{forloop.index}}</span></span>
                    </div>
                    <div>
                        <!-- <h5>{{list.title}}</h5> -->
                        <h5><a href="{{list.title_url}}">{{list.title}}</a></h5>
                        <p class="mb-0">{{list.sub_title}}</p>
                    </div>
                </div>
                <div class="space40"></div>
                {% endfor %}
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    {% endif %}
</div>
</div>


<!-- FEATURES AREA START -->
<div class="wrapper white-wrapper">
  <div class="container inner">
    <div class="row">
    	<div class="col-md-11">
		    {% if page.features_area.title %}
		     <h2 class="title-color color-gray text-center">{{page.features_area.title}}</h2>
		    {% endif %}
		    {% if page.features_area.sub_title %}
		     <h2 class="display-3 text-center">{{page.features_area.sub_title}}</h2>
		    {% endif %}
    	</div>
    </div>
    <div class="space40"></div>
    {% if page.features_area.enable %}
    <div class="row gutter-60 gutter-md-30">
      {% for features in page.features_area.features %}
      <div class="col-md-6 col-lg-3" padding=1px>
      	{% if features.icon %}
         <div class="icon icon-blob icon-blob-{{features.icon_color}} color-{{features.icon_color}} mb-20"> <i class="{{features.icon}}"></i> </div>
         {% endif %}
        <h5>{{features.title}}</h5>
        <!-- <div class="col-lg-6""> -->
          <!-- <figure><img src="/assets/images/art/ui6.png" alt="Why Choose Us?"/></figure> -->
          <iframe width="250" height="150" padding=1px src="{{features.video_url}}" title="YouTube video player" frameborder="2" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <!-- </div> -->
        <p>{{features.description}}</p>
      </div>
      {% endfor %}
    </div>
    <!--/.row -->
    {% endif %}


    {% if page.video_area.enable %}
    <div class="space140"></div>
    <div class="row align-items-center">
      <div class="col-lg-6 play-wrapper light-gallery-wrapper text-center">
        <div class="img-blob blob8">
        	<img src="{{page.video_area.image}}" style="width: 30rem" alt="{{page.video_area.title}}" />
        </div>
        {% if page.video_area.video_url %}
         <a href="{{page.video_area.video_url}}" class="btn-play lightbox"></a>
        {% endif %}
      </div>
      <!--/column -->
      <div class="space20 d-md-none"></div>
      <div class="space50 d-none d-md-block d-lg-none"></div>
      <div class="col-lg-6 pl-50 pl-md-15">
      	{% if page.video_area.title %}
         <h2 class="title-color color-gray">{{page.video_area.title}}</h2>
        {% endif %}
        {% if page.video_area.sub_title %}
         <h3 class="display-3">{{page.video_area.sub_title}}</h3>
        {% endif %}
        <div class="space20"></div>
        <div class="row">
          {% for list in page.video_area.lists %}
          <div class="col-md-6">
            <h5>{{list.title}}</h5>
            <p>{{list.description}}</p>
          </div>
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    {% endif %}
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->


{% if page.projects_area.enable %}
<div class="wrapper white-wrapper">
  <div class="container inner pb-50">

  	{% if page.projects_area.title %}
     <h2 class="title-color color-gray">{{page.projects_area.title}}</h2>
    {% endif %}
    <div class="row align-items-center">
    {% if page.projects_area.sub_title %}
	  <div class="col-md-7">
	    <h3 class="display-3 mb-0">{{page.projects_area.sub_title}}</h3>
	  </div>
    {% endif %}
    {% if page.projects_area.button_text %}
      <div class="col-md-3 ml-auto text-right">
        <a href="{{page.projects_area.button_url}}" class="btn btn-default m-0">{{page.projects_area.button_text}}</a>
      </div>
    {% endif %}
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
  <div class="container-fluid pl-30 pr-30">
    <div class="grid-view">
      <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "1441":{"items": "3"}}'>
      	{% for project in page.projects_area.projects %}
        <div class="item">
          <figure class="rounded">
            <img src="{{project.image}}" alt="{{project.title}}"/>
             <a class="item-link" href="{{project.url}}"><i class="jam jam-link"></i></a>
          </figure>
        </div>
        {% endfor %}
      </div>
      <!-- /.owl-carousel -->
    </div>
    <!-- /.grid-view -->
  </div>
  <!-- /.container-fluid -->
  <div class="space140"></div>
</div>
<!-- /.wrapper -->
{% endif %}

<!--
{% if page.completed_projects.enable %}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{page.completed_projects.bg_image}}">
  <div class="container inner text-center">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row counter">
          {% for list in page.completed_projects.lists %}
          <div class="col-md-3 text-center">
            <h3 class="value">{{list.numbers}}</h3>
            <p><strong>{{list.title}}</strong></p>
          </div>
          {% endfor %}
        </div>
        <!--/.row -->
      <!-- </div>
      <!-- /column -->
    <!-- </div> -->
    <!-- /.row -->
    <!-- <div class="space120"></div> -->
  <!-- </div> -->
  <!-- /.container -->
<!-- </div> -->
<!-- /.wrapper -->
<!-- {% endif %} -->


<div class="wrapper overflow-top bleed-s">
  <div class="container inner pt-0">
  	{% if page.testimonials.enable %}
    <div class="grid-view">
      <div class="carousel owl-carousel gap-small" data-margin="0" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1140":{"items": "3"}}'>
      {% for feedback in page.testimonials.feedback %}
        <div class="item">
          <div class="item-inner">
            <div class="box bg-white shadow">
                <blockquote>
                  <p>"{{feedback.quote}}"</p>
                  <div class="blockquote-details">
                    {% if feedback.image %}
                    <div class="img-blob blob1">
                      <img src="{{feedback.image}}" alt="{{feedback.name}}"/>
                    </div>
                    {% endif %}
                    <div class="info">
                      <h6 class="mb-0">{{feedback.name}}</h6>
                      <span class="meta mb-0">{{feedback.designation}}</span>
                    </div>
                  </div>
                </blockquote>
            </div>
            <!-- /.box -->
          </div>
          <!-- /.item-inner -->
        </div>
        <!-- /.item -->
        {% endfor %}
      </div>
      <!-- /.owl-carousel -->
    </div>
    <!-- /.grid-view -->
    {% endif %}

    {% if page.clients_carousel.enable %}
    <div class="space80"></div>
      {% include clients_carousel.html %}
    </div>
    <!-- /.owl-carousel -->
    {% endif %}
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->


	{% if page.blogs_area.enable %}
	<div class="wrapper white-wrapper">
	  <div class="container inner">
        <div class="row">
        	<div class="col-md-8">
			  	{% if page.blogs_area.title %}
			     <h2 class="title-color color-gray">{{page.blogs_area.title}}</h2>
			    {% endif %}
			    {% if page.blogs_area.sub_title %}
			     <h3 class="display-3">{{page.blogs_area.sub_title}}</h3>
			    {% endif %}
        	</div>
        </div>
	    <div class="space40"></div>
	    <div class="grid-view">
	      <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
	      	{% for post in site.posts %}
	        <div class="item">
            {% if post.post_image %}
            <figure class="main mb-30 overlay overlay1 rounded">
              <a href="{{post.url}}"> <img src="{{post.post_image}}" class="post-thumb" alt="{{post.title}}" /></a>
              <figcaption>
                <h5 class="from-top text-uppercase mb-0">Read More</h5>
              </figcaption>
            </figure>
            {% endif %}
            {% if post.categories %}
            <div class="category">
              <a href="/category/{{post.categories[0] | slugify}}" class="badge badge-pill bg-leaf">{{post.categories[0]}}</a>
            </div>
            {% endif %}
            <h2 class="post-title">
              <a href="{{post.url}}">{{post.title | truncatewords: 9}}</a>
            </h2>
            <div class="post-content">
              <p>{{post.excerpt | strip_html | truncatewords: 20}}</p>
            </div>
            <!-- /.post-content -->
            {% if post.date %}
            <div class="meta mb-0">
              <span class="date"><i class="jam jam-clock"></i> {{post.date | date_to_string}}</span>
            </div>
            {% endif %}
	        </div>
            {% endfor %}
	      </div>
	      <!-- /.owl-carousel -->
	    </div>
	    <!-- /.grid-view -->
	  </div>
	  <!-- /.container -->
	</div>
	<!-- /.wrapper -->
	{% endif %}

    
<!-- start Twitter embed -->
<div class="wrapper light-wrapper">
    <div class="container inner">
      <div padding=20px background-color=#cedddd float="left">
        <iframe src="https://dataumbrella.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
      </div>
      <div class="space40"></div>
      <div padding=20px background-color=#decddd float="left">
        <a class="twitter-timeline" width="500" height="750"  href="https://twitter.com/DataUmbrella?ref_src=twsrc%5Etfw">Tweets by @DataUmbrella</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
      </div>
    </div>
</div>
<!-- end Twitter & Newsletter embed -->

  {% if page.contact_area.enable %}
	<section id="contact">
	  <div class="wrapper light-wrapper">
	    <div class="container inner">
          <div class="row">
          	<div class="col-md-8">
		      {% if page.contact_area.title %}
		       <h2 class="section-title">{{page.contact_area.title}}</h2>
		      {% endif %}
		      {% if page.contact_area.sub_title %}
		       <p class="lead larger">{{page.contact_area.sub_title}}</p>
		      {% endif %}
          	</div>
          </div>
	      <div class="space40"></div>
	      <div class="row">
	        <div class="col-lg-4">
	          {% for lists in page.contact_area.lists %}
	          <div class="d-flex flex-row">
	            <div>
	              <div class="icon color-default fs-34 mr-25"> <i class="{{lists.icon}}"></i> </div>
	            </div>
	            <div>
	              <h6 class="mb-5">{{lists.title}}</h6>
	              <address>{{lists.info_01}} 
	              	{% if lists.info_02 %}
	                <br class="d-none d-md-block" />
	                {{lists.info_02}}
	               {% endif %}
	              </address>
	            </div>
	          </div>
            {% endfor %}
	        </div>
	        <!--/column -->
	        <div class="col-lg-8">
	          <form id="contact-form" class="fields-white" method="post" action="https://formsubmit.io/send/{{page.contact_area.action_email}}">
	            <div class="messages"></div>
	            <div class="controls">
	              <div class="form-row">
	              	{% for forms_data in page.contact_area.forms_data %}
	              	{% if forms_data.field_type == "input" %}
	                <div class="col-lg-12 col-xl-6">
	                  <div class="form-group">
	                    <input id="{{forms_data.field_name}}" type="text" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}}  *" required="required" data-error="{{forms_data.error_message}}">
	                    <div class="help-block with-errors"></div>
	                  </div>
	                </div>
	                {% else if forms_data.field_type == "textarea" %}
	                <div class="col-md-12">
	                  <div class="form-group">
	                    <textarea id="{{forms_data.field_name}}" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}} *" rows="4" required="required" data-error="{{forms_data.error_message}}"></textarea>
	                    <div class="help-block with-errors"></div>
	                  </div>
	                </div>
	                {% endif %}
                  {% endfor %}
	              </div>
	              <div class="form-row">
	                <div class="col-md-12">
	                  <input type="submit" class="btn btn-send" value="Send message">
	                </div>
	              </div>
	              <div class="form-row">
	                <div class="col-md-12">
	                  <p class="text-muted"><strong>*</strong> These fields are required.</p>
	                </div>
	              </div>
	            </div>
	          </form>
	          <!-- /form -->
	        </div>
	        <!--/column -->
	      </div>
	      <!--/.row -->
	    </div>
	    <!-- /.container -->
	  </div>

	  <!-- /.wrapper -->
	</section>
	<!-- /section --> 
	{% endif %}


  {% include footer.html %}
</div>
